
body {
    background-color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
}
.main1 {
    width: 100%;
    text-align: inherit;
}
.btn {
    background: #ffff;
    font-family: Hind;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color: #000000;
    transition-duration: 0.4s;
}
.btn:hover {
    background-color: lightblue;
    text-emphasis-color: white;
    user-select: none;
    border: 1px solid currentColor;
    transform: skew(10deg);
}
btn:active {
    transform: scale(0.99);
}
.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
$css-carousel: (slides: 2,
    transition-speed: 1s);
// hide input radio fields
input[name="carousel"] {
    display: none;
}
// carousel navigation
.carousel-nav {
    label {
        display: inline-block;
        margin: 0 10px;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.25s;
    }
}
// carousel slides
.carousel-slides {
    width: 100%;
    overflow: hidden;
    .carousel-inner {
        width: (100% * map_get($css-carousel, slides));
        transition: margin map_get($css-carousel, transition-speed);
    }
    .carousel-item {
        float: left;
        width: (100% / map_get($css-carousel, slides));
    }
}
// active carousel navigation
@for $i from 1 through map_get($css-carousel, slides) {
    #carousel-#{$i}:checked~.carousel-nav label[for="carousel-#{$i}"] {
        background-color: #fff;
    }
}
// active carousel slides
@for $i from 1 through map_get($css-carousel, slides) {
    #carousel-#{$i}:checked~.carousel-slides .carousel-inner {
        margin-left: (-100% * ($i - 1));
    }
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #999999;
}
.svg-icon circle {
    stroke: #999999;
    stroke-width: 1;
}
.footer {
    align-content: center;
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.flex-container {
    display: flex;
}
.flex-container picture {
    max-width: 50%;
    padding: 10px;
}
.flex-container img {
    max-width: 100%;
}
.flex-container .text-content-flex {
    padding: 10px;
}

