
body {
    background-color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
}
.main1 {
    width: 100%;
    text-align: inherit;
}
.btn {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.btn:hover {
    background-color: #d3d3d3;
}
btn:active {
    transform: scale(0.99);
}
.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #999999;
}
.svg-icon circle {
    stroke: #999999;
    stroke-width: 1;
}
.footer {
    align-content: center;
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.flex-container {
    display: flex;
}
.flex-container picture {
    max-width: 50%;
    padding: 10px;
}
.flex-container img {
    max-width: 100%;
}
.flex-container .text-content-flex {
    padding: 10px;
}

div.carousel-container {

}
div.carousel-container > * {
	display: inline-block;
	vertical-align: middle;
}
div.carousel-container > button {
	color: transparent;
	border: 0px;
	background: transparent url(./carousel-left.png);
	height: 28px;
	width: 17px;
}
div.carousel-container > button:last-of-type {
	background-image: url(./carousel-right.png);
}

	figure.carousel {
		width: 70%;
		
		overflow: hidden;
	}
		figure.carousel ul {
			list-style-type: none;
			margin: 0px; padding: 0px;
			width: 1000%;
		}

		figure.carousel ul li {
			display: inline-block;
		}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #c2c2c2; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: skyblue;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}