
body {
    background-color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
}
.main1 {
    width: 100%;
    text-align: inherit;
}
.btn {
    background: #ffff;
    font-family: Hind;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color: #000000;
    transition-duration: 0.4s;
}
.btn:hover {
    background-color: lightblue;
    text-emphasis-color: white;
    user-select: none;
    border: 1px solid currentColor;
    transform: skew(10deg);
}
btn:active {
    transform: scale(0.99);
}
.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #999999;
}
.svg-icon circle {
    stroke: #999999;
    stroke-width: 1;
}
.footer {
    align-content: center;
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.flex-container {
    display: flex;
}
.flex-container picture {
    max-width: 50%;
    padding: 10px;
}
.flex-container img {
    max-width: 100%;
}
.flex-container .text-content-flex {
    padding: 10px;
}

div.carousel-container {

}
div.carousel-container > * {
	display: inline-block;
	vertical-align: middle;
}
div.carousel-container > button {
	color: transparent;
	border: 0px;
	background: transparent url(./carousel-left.png);
	height: 28px;
	width: 17px;
}
div.carousel-container > button:last-of-type {
	background-image: url(./carousel-right.png);
}

	figure.carousel {
		height: 256px;
		width: 256px;
		overflow: hidden;
	}
		figure.carousel ul {
			list-style-type: none;
			margin: 0px; padding: 0px;
			width: 1000%;
		}

		figure.carousel ul li {
			display: inline-block;
		}